[submodule "awlkit"]
	path = awlkit
	url = https://github.com/agentic-workflow-library/awlkit.git
[submodule "gatk-sv"]
	path = gatk-sv
	url = https://github.com/broadinstitute/gatk-sv.git
[submodule "awl-handbook"]
	path = awl-handbook
	url = https://github.com/agentic-workflow-library/awl-handbook.git
